body {
  font-family: "Merienda One", cursive;
  /*background: linear-gradient(to bottom left, #235faf 0%, #47d2dc 100%);
  background-repeat: no-repeat;*/
}
.App .container {
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 40px;
}
.App .currentWeather-wrapper {
  border-style: groove;
  padding: 20px;
  border-radius: 9px;
}
